@body-bg: #9E9E9E;
@myDiv-fg: #f00;
body {
  background-color: @body-bg;
  height: 100%;
}

#content {
  height: 100%;
}

div.myDiv {
  color: @myDiv-fg;
}

select.mySelect {
  width: 50%
}

.vertical-align-middle {
    vertical-align: middle;
}

.software-table {
    width: 100%;
    box-sizing: x-box;
}

.software-thead, .software-tbody, .software-tr, .software-td, .software-th { display: block; }

.software-tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.software-thead th {
    height: 30px;

    /*text-align: left;*/
}

.software-tbody {
    height: 25vh;
    overflow-y: auto;
}

.software-thead {
    /* fallback */
}


.software-tbody .software-td, .software-thead .software-th {
    width: 30.2%;
    float: left;
}

.mui--is-active {
  background-color: #616161;
}

.mui-tabs__bar>li:not(.mui--is-active) {
  background-color: #E0E0E0;
}

.mui-tabs__bar>li.mui--is-active>a {
  color: red;
}

body .modal {
  position: fixed;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  display: block;
}

.radio-opt-desc {
    padding-left: 10px;
}
